.header {
  position: relative;
  background: linear-gradient(135deg, #975602c5, #9ebd7ac9);
  padding: 20px 0;
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  width: 100%;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

@media (max-width: 400px) {
  .header{
    margin: 0 auto;
  }
  .header h1 {
    display: none;
  }
  .header-container p{
    font-size: 0.5rem;
  }
}

.header-container p {
  margin: 0 auto;
  font-size: 1rem;
}

