.header {
  position: relative;
  background: linear-gradient(135deg, #975602, #e6b864);
  padding: auto 0;
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: -40px -60px 20px;
  top: 0;
  right: 0;
  left: 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.header p {
  margin: 0 auto;
  font-size: 1rem;
}
