body{
    background-image: url("assets/digi-sunset.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(35%);
    margin: 0;
    /* OPTIONAL */
    display:flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.clock-container{
    padding: 10px 0;
}

.clock{
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace,'Courier New', Courier, monospace;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    filter: brightness(100%);
}